@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com";
header{
  max-width: 1440px;
  padding-left: 73px;
  padding-top: 31px;
  padding-right: 102px;
  padding-bottom: 31px;
  margin: auto;
  nav{
    .last_icons{
      a{
        margin-right: 27px;
      }
    }
    ul{
      display: flex;
      li{
        margin-left: 33px;
        list-style: none;
        a {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          border-bottom: none;
          text-decoration: none;
        }
      }
      li:last-of-type{
        margin-left: 44px;
      }
    }
  }
}
.header_con{
  max-width: 1294px;
  display: flex;
  justify-content: space-between;
}
.main_section {
  padding-top: 28px;
  padding-bottom: 75px;
}
.main_con{
  max-width: 1294px;
  margin: auto;
}
.owl-nav .owl-prev:before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f177";
  position: relative;
  left: -15px;
}
.owl-nav .owl-next:before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f178";
  position: relative;
  right: -15px;
}
.owl-nav{
  position: absolute;
  top: -60px;
  right: 100px;


