@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@import "https://fonts.gstatic.com";
@import "https://fonts.googleapis.com";
.main_section {
  padding-top: 28px;
}
.main_con{
  max-width: 1294px;
  margin: auto;
}
.main_img{
  position: relative;

}
.main_text{
  position: absolute;
  top: 145px;
  left: 56px;
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  a{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 14px 53px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 200px;
    position: absolute;
  }
}
.owl-nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 45%;
  color: #DCE5E2;
  .owl-prev:before{
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f053";
    font-size: 30px;
    color: black;
    position: relative;
    left: 20px;
  }
  .owl-next:before{
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f054";
    font-size: 30px;
    color: black;
    position: relative;
    left: -20px;
  }
  .owl-dot{
    background-color: black;
    width: 100px;
    margin-right: 20px;
    border: solid 2px;
  }
}
.second_sec{
  padding-top: 75px;
  padding-bottom: 78px;
}
.tac{
  text-align: center;
  margin-bottom: 55px;
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
.image1{
  width: 100%;
  max-width: 639px;
  height: 472px;
  padding-left: 42px;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow:
          inset 0 3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.text_2nd_sec{
  position: absolute;
  right: 42px;
  bottom: 0%;
}
.laptop{
  text-align: right;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: black;
}
.laptop_h3{
  font-family: 'Readex Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.image2{
  width: 100%;
  max-width: 639px;
  height: 270px;
  margin-top: 72px;
  padding-left: 42px;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow:
          inset 0 3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.text_3rd_sec{
  position: absolute;
  right: 42px;
  bottom: 10%;
}
.image3{
  width: 100%;
  max-width: 312px;
  height: 792px;
  position: relative;
  background: #FFFFFF;
  border-radius: 32px;
  padding-bottom: 144px;
  padding-top: 144px;
  padding-left: 16px;
  box-shadow:
          inset 0 3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.text_4rd_sec{
  position: absolute;
  text-align: center;
  left: 12%;
  bottom: 144px;
}
.laptop_cen{
  text-align: center;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: black;
}
.text_5rd_sec{
  position: absolute;
  text-align: center;
  left: 12%;
  top: 114px;
}
.image4{
  width: 100%;
  max-width: 312px;
  height: 792px;
  position: relative;
  background: #FFFFFF;
  border-radius: 32px;
  padding-bottom: 144px;
  padding-top: 144px;
  padding-left: 16px;
  box-shadow:
          inset 0 3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
  img{
    position: absolute;
    left: 0;
    bottom: 115px;
  }
}
.third_sec{
  padding-bottom: 74px;
  img{
    margin-bottom: 37px;
  }
}
.tdn{
  text-decoration: none;
}
.item__1{
  width: 303px;
  height: 270px;
  background-color: #FFFFFF;
  padding: 28px;
  margin-bottom: 9px;
}
.market_text{
  font-family: 'Readex Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.market_paragraph_1{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
.market_paragraph_2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.fifth_sec{
  padding-bottom: 75px;
}
.linka{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 14px 63px;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 200px;
}
.fifth_sec_p{
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}
.fifth_sec_h3{
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 44px;
}
.sixth_sec{
  padding-bottom: 24px;
  .container-fluid{
    h3{
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
    h3:after{
      font-family: "Font Awesome 6 Free", sans-serif;
      font-weight: 900;
      content: "\e09f";
      font-size: 30px;
      color: black;
    }
    .col-xl-6{
      p{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 28px;
      }
    }
  }
}
.seventh_sec {
  padding-bottom: 19px;
  padding-top: 51px;
}
.search_line{
  display: block;
  width: 650px;
  height: 60px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
}
.linka_2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 12px 22px;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-decoration: none;
  margin-right: 7px;
}
.choice{
  margin-bottom: -13px;
}
.last_text{
  margin-top: 47px;
  h2{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
.search_line_2{
  display: block;
  width: 285px;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-clip: padding-box;
  background: #DCE5E2;
  border-radius: 54px 0px 0px 54px;
  border: 1px solid #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button{
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-border-radius: 100px;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c1f23;
  --bs-btn-hover-border-color: #1a1e21;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a1e21;
  --bs-btn-active-border-color: #191c1f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}
.first{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.footer {
  padding-top: 44px;
  padding-bottom: 78px;
  a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 14px;
  }
  h3{
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  li{
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
  }
  p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
  }
  .sprites{
    a{
      background-image: url("../images/sprites2.png");
      background-repeat: no-repeat;
      height: 98px;
      width: 100px;
      display: inline-block;
      margin-bottom: 10px;
      transition: all 0.3s ease-out;
    }
    a.twitter {
      background-position: -100px top;
    }

    a.youtube {
      background-position: -200px top;
    }

    a.instagram {
      background-position: -300px top;
    }

    a.linkedin {
      background-position: -400px top;
    }

    a.tumblr {
      background-position: -500px top;
    }

    a.google {
      background-position: -600px top;
    }
    a:hover{
      background-position-y: bottom;
    }
  }
}
.tal{
  text-align: left;
}

